# don't share (a) very large files (b) files with private keys or user created wordlists

btc_balance_sorted.csv
addr_priv.txt
addresses.txt
FREE_MONEY_KEYS.txt
FREE_MONEY_KEYS_unique_results.txt
seedlist.txt
1.csv
2.csv
3.csv
4.csv
5.csv 
6.csv
7.csv
8.csv
9.csv
10.csv
11.csv
12.csv 
13.csv
14.csv
15.csv
16.csv
17.csv
18.csv
19.csv
20.csv
21.csv
22.csv
23.csv
24.csv
25.csv
26.csv
27.csv
28.csv
29.csv
30.csv
31.csv
32.csv
1.txt
2.txt
3.txt
4.txt
5.txt
6.txt
7.txt
8.txt
9.txt
10.txt
11.txt
12.txt
13.txt
14.txt
15.txt
16.txt
17.txt
18.txt
19.txt
20.txt
21.txt
22.txt
23.txt
24.txt
25.txt
26.txt
27.txt
28.txt
29.txt
30.txt
31.txt
32.txt
bitcoin1.txt
bitcoin2.txt
bitcoin3.txt
bitcoin4.txt
bitcoin5.txt
bitcoin6.txt
bitcoin7.txt
bitcoin8.txt
bitcoin9.txt
bitcoin10.txt
bitcoin11.txt
bitcoin12.txt
bitcoin13.txt
bitcoin14.txt
bitcoin15.txt
bitcoin16.txt
bitcoin17.txt
bitcoin18.txt
bitcoin19.txt
bitcoin20.txt
bitcoin21.txt
bitcoin22.txt
bitcoin23.txt
bitcoin24.txt
bitcoin25.txt
bitcoin26.txt
bitcoin27.txt
bitcoin28.txt
bitcoin29.txt
bitcoin30.txt
bitcoin31.txt
bitcoin32.txt




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
